body {
  text-align: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: comic sans ms, sans-serif;
}

h1 {
  color: #663399;
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}

h2 {
  color: #555;
  text-align: center;
  font-weight: normal;
  margin-bottom: 50px;
}

div {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

form {
  text-align: center;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  width: 600px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

select {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

input[type="text"], textarea {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="submit"] {
  background-color: #555;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #333;
}

img {
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

p {
  text-align: center;
  font-size: 18px;
}
